

body{
  padding: 0%;
  margin: 0%;
}
.nav-input {
    width: 250px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #424040;
    background-image: url("../src/Asset/search.svg");
    background-position: right;
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
  }
  
  .nav-input:focus {
    width: 300px;
  }